*,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
    
    a{
        text-decoration: none;
    }
    
    ul,
    ol,
    li {
        list-style: none;
    }
    
    img {
        vertical-align: top;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: inherit;
        font-size: inherit;
    }
    
    html,
    body {
        height: 100%;
        line-height: 1;
        color: #2E363E;
        font-family: Montserrat;
    }
    /* null end */
     /* -------------------------------------------------------------------------------------- */
    .wrapper {
        min-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    /* ---------------------------------------------------------------------------------------- */
    ._container {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0px 15px;
        box-sizing: content-box;
    }
    ._ibg {
        position: relative;
    } 
    ._ibg img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
/* ---------------------------------------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    margin: 0 auto;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 2;

}
.header__container {
    display: flex;
    min-height: 120px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
h1.header__logo {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #FFFFFF;
    width: 180px;
    position: relative;
    z-index: 5;
}
.header__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
}
.header__menu-item {
    display: flex;
}
.header__menu.active {
    top: 0;
}
.header__street-logo {
    height:37px;
}
p.header__street-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-left: 12px;
    width: 122px;
    color: #FFFFFF;
}
.header__menu-item {
    display: flex;
    margin-left: 88px;
}
.header__phone-logo {
    height: 25px;
}
.header__phone-info {
    margin-left: 13px;
}
.header__phone-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 152%;
    color: #FFFFFF;
}
.header__phone-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
} 
.header__burger {
    display: none;
}
@media(max-width:723px) {
    .header__phone{
        margin-left: 64px;
    }
}
@media (max-width: 800px) {
    .header__burger {
        display: block;
        position: relative;
        width: 43px;
        height: 20px;
        z-index: 5;
        right: 0;
        cursor:pointer;
        transition:0.4s;
    }
    
    .header__burger::before {
        position: absolute;
        top: -15px;
        content:'';
        width: 40px;
        border-top: 6px solid white;
        cursor:pointer;
        transition:0.4s;
    }
    .header__burger span { 
        position: absolute;    
        display: block;
        width: 40px;
        border-top: 6px solid white; 
        transition:0.4s;
        }
    .header__burger::after  { 
        bottom: 0;
        position:absolute;
        content:''; 
        width: 40px;
        border-top: 6px solid white;
        transition:0.4s;
        }
        .header__menu  {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #081130;
            top: -100%;
            transition: all 0.3s ease 0s;
        }
        .header:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:#081130;
            opacity: 1;
            z-index: 4;    
        }
        body.lock {
            overflow: hidden;
        }
        .header__menu {
            padding: 140px 10px 20px 15px;
        }
        .header__menu-item {
            margin-left: 0;
        }
        .header__menu.active {
            top: 0;
            height: 250%;
            flex-direction: column;
            justify-content: space-between;
        }
        .header__burger.active::after{
        -webkit-transform: rotate(-45deg) translate(-10px, 5px);
        transform: rotate(-45deg) translate(-10px, 8px);
        bottom: 18.5px;
        }
        .header__burger.active span {opacity:0;}
        .header__burger.active::before  {
        -webkit-transform: rotate(45deg) translate(-10px, 5px);
        transform: rotate(45deg) translate(-10px, -5px);
        top: 18.5px;
        }
}


/* ---------------------------------------------------------------------------------------- */
.page {
    flex: 1 1 auto;
}
/* ---------------------------------------------------------------------------------------- */
.main-block__container {
}
.page__main-block {
    position: relative;
}
.main-block__body {
    padding: 308px 0px 465px 0px;
    position: relative;
    z-index: 2;
    max-width: 657px;
}
.main-block__body-delicious {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    text-transform: uppercase;
    background: #F2F6FA;
    border-radius: 5px;
    padding: 10px 18px 10px 18px;
    text-align: center;
}
.main-block__body-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-top: 24px;
    color: #FFFFFF;
}
.main-block__body-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    color: #FFFFFF;
    width: 544px;
    margin-top: 24px;
}
.main-block__block {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.main-block__button {
    background: #FED84C;
    border-radius: 8px;
    padding: 30px 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    cursor: pointer;
    transition: background-color .2s ease;
}
.main-block__button:hover {
    background: #2E363E;
    color: #FED84C;
    transition: opacity .2s ease;
}
.main-block__block-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
    width: 210px;
    margin-left: 20px;
}
.main-block__image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute
    }
.main-block__image-berry, .main-block__image-leaf {
    position: absolute;
}
._1 {
    width: 170px;
    height: 175px;
    transform: rotate(185deg);
    right: 0;
    top: 30px;
}
._2 {
    width: 195.65px;
    height: 201.41px;
    transform: rotate(92deg);
    left: 0;
    top: 275px;
}
._3 {
    width: 195.65px;
    height: 201.41px;
    transform: rotate(20deg);
    right:10%;
    top: 962px;
}
._4 {
    width: 275px;
    height: 286px;
    transform: rotate(353deg);
    filter: blur(6.5px);
    left: -2%;
    top: 1000px;
}
@media(max-width:500px){
    .main-block__body {
        padding: 200px 0px 465px 0px;
    }
    .main-block__body-title {
        font-size: 37px;
    }
    .main-block__body-subtitle{
        font-size: 15px;
        max-width: 300px;
    }
    .main-block__button {
        padding: 14px 36px;
        font-size: 15px;
    }
}
@media(max-width:300px) {
    .main-block__body-title {
        font-size: 26px;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__menu { position: relative;
}
.menu {
}
.menu__container {
    display: flex;
    flex-direction: column;
}
h2.menu__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: center;
    margin-top: -30px;
    z-index: 10;
    margin-bottom: 60px;
}
.menu__body {display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}
.menu__block {
    width: 33.3333%;
    justify-content: center;
}
.menu__block-item {
    padding: 50px 96px 50px 44px;
}
.menu__block-image img{
    height: 245px;
    width: 33.33%;
}
.menu__block img {
    width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
p.menu__block-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
}
p.menu__block-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 12px;
}
p.menu__block-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434B53;
    margin-top: 24px;
}
.menu__block-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    background: #FED84C;
    border-radius: 8px;
    padding: 20px 40px;
    margin-top: 14px;
    cursor: pointer;
    transition: background-color .2s ease;
}
.menu__block-btn:hover {
    background: #2E363E;
    color: #FED84C;
    transition: opacity .2s ease;
}
._5 {
    width: 170px;
    height: 174px;
    filter: blur(6.5px);
    transform: rotate(88deg);
    left: 14%;
    top: 230px;
    z-index: -1;
}
._6 {
    width: 161px;
    height: 167px;
    filter: blur(13.5px);
    transform: rotate(356deg);
    right:15%;
    top: 922px;
    z-index: -1;
}
._7 {
    width: 109px;
    height: 113px;
    filter: blur(13.5px);
    transform: rotate(290deg);
    left: 15%;
    top: 1266px;
    z-index: -1;
}
.menu__block-image_bg {
    position: absolute;
    z-index: 3;
    width: 100%;
}
.menu__block-back {
    height: 330px;
}
@media(max-width:1139px) {
    .menu__block {
        width: 60%;
    }
    .menu__block-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px 70px 50px 70px;
    }
    .menu__body {
        justify-content: center;
    }
}
@media(max-width:750px) {
    h2.menu__title {
        font-size: 33px;
    }
    ._3 {
        transform: scale(0.7);
    }
    ._4 {
        transform: scale(0.7);
    }
    p.menu__block-title {
        font-size: 17px;
    }
    p.menu__block-subtitle{
        font-size: 14px;
    } 
    p.menu__block-text {
        font-size: 19px;
    }
    ._ibg img {
        height: 109%;
    }
}
@media (max-width:560px) {
    .menu__block {
        width: 75%;
    }
    .menu__block-item {
        padding: 40px 50px 65px 50px;
    }
    ._4 {
        display: none;
    }
}
@media(max-width:376px) {
    .menu__block {
        width: 90%;
    }
    .menu__block-btn {
        padding: 14px 40px;
    }
}
@media(max-width:288px) {
    .menu__block-item {
        padding: 30px 40px 45px 40px;
    }
}
/* ---------------------------------------------------------------------------------------- */
.photo__container {
    display: flex;
    justify-content: flex-end;
}
.page__photo {
    background:#081130;
    height: 1352px;
    margin-top: -330px;
    position: relative;
}
.photo__image {
    width: 100%;
    height: 100%;
    top: 330px;
    left: -20%;
    position: absolute
}
.photo__title {
    font-weight: 500;
}
.photo__image_bg img {
    width: 1090px;
    height: 1034px;
}
.photo__body {
    padding: 450px 0px 465px 0px;
    position: relative;
    z-index: 2;
    max-width: 657px;
}
.photo__image-smoke {
    width: 100%;
    height: 489px;
    margin-top: -457px;
    left: 0;
    position: absolute
}
.photo__image-smoke_bg {
    width: 2500px;
    height: 100%;
}
._8 {
    width: 152.04px;
    height: 156.44px;
    top: 350px;
    right: 15%;
}
._9 {
    width: 110px;
    height: 114px;
    top: 400px;
    left: 10%;
    transform: rotate(277deg);
}
@media(max-width:1443px){
    .photo__image img {
        opacity: 0.6;
    }
}
@media(max-width:1141px) {
    .photo__body {
        padding: 312px 0px 465px 0px;
    }
    .photo__image-smoke {
        margin-top: -386px;
    }
}
@media(max-width:714px) {
    .photo__body {
        padding: 183px 0px 465px 0px;
    }
    .photo__image-smoke {
        margin-top: -256px;
    }
}
@media(max-width:603px) {
    .photo__image {
        left: -65%;
    }
} 
@media(max-width:570px) {
    .photo__body {padding-left: 180px;}
}
@media(max-width:521px){
    .photo__image {top: 275px;}
}
@media(max-width:501px){
    .photo__image-smoke {
        margin-top: -180px;
    }
    .photo__body {padding-left: 0px;}
}
@media (max-width:412px) {
    .photo__image-smoke {
        margin-top: -140px;
    }
    .main-block__body-title {
        font-size: 28px;
    }
    .photo__body {
        padding: 140px 0px 465px 0px;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__conditer {
    padding-top: 100px;
}
.conditer__container {
    display: flex;
    justify-content: space-between;
}
.conditer__body {
    max-width: 580px;
    margin-top: 200px;
}
.conditer__image {
    display: flex;
    justify-content: flex-end;
}
.circle {
    height: 580px;
    width: 580px;
    border-radius:50%;
    background-color: #FED84C;
    position: relative;
    z-index: 0;
}
.conditer__image_bg, .conditer__image_bgcircle {
    text-align: center;
}
.conditer__image {
    padding-top: 250px;
    position: absolute;
    right: 13%;
}
.conditer__image_bg img{
    z-index: 3;
    position: relative;
    object-fit: cover;
    margin-top: -224px;
    left: 17px;
}
.conditer__image_bgcircle img{
    top: 0;
    z-index: 1;
    position: relative;
    object-fit: cover;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: -428px;
}
.conditer__title {
    font-weight: 500;
    color: inherit;
}
.conditer__list li {

}
.conditer__list li{
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
}

.conditer__list li::before {
    content:'';
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: #5D6AFB;
    display: inline-block;
    margin-right: 15px;
}
.conditer__list {
    padding: 36px 143px 0px 0px;
}
.conditer__li {
    padding-left: 25px;
}
.conditer__button {
    margin-top: 20px;
}
._10 {
    width: 159px;
    height: 163px;
    transform: rotate(89deg);
    right: 40%;
    margin-top: -632px;
    z-index: -1;
    filter: blur(6.5px);
}
._11, ._12, ._13 {
    width: 190px;
    height: 198px;   
    filter: blur(13.5px);
    z-index: -1;
}
._11{
    right: 18%;
    margin-top: -700px;
    transform: rotate(335deg);
}
._12 {
    right: 15%;
    margin-top: -690px;
    transform: rotate(348deg);
}
._13 {
    right: 12%;
    margin-top: -660px;
    transform: rotate(354deg);
}
.conditer__image-smoke {
    width: 100%;
    height: 330px;
    position: absolute;
}

.conditer__image-smoke_bg {
    width: 100%;
    position: relative;
    z-index: 10;
}
.conditer__block_name {
    height: 60px;
    display: flex;
    position: absolute;
    right: 40%;
    margin-top: -270px;
}
.conditer__block_name img{
    top: 0;
    position: relative;
    z-index: 4;
    text-align: center;
    height: 100%;
}
.conditer__block_nametext {
    background: #2E363E;
    padding: 15px 0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    height: 60px;
    color:#FFFFFF;
}
.rectangle2 {
    transform: rotate(180deg);
    margin-left: -1px;
}
.conditer__block_occup {
    height: 52px;
    display: flex;
    position: absolute;
    right: 42%;
    margin-top: -210px;
}
.conditer__block_namerectan {
}
.conditer__block_occuptext {
    background: #F2F6FA;
    padding: 15px 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
@media (max-width:1300px) {
    .conditer__image {
        opacity: 0.5;
        z-index: 0;
        padding-top: 100px;
    }
    .conditer__block_name, .conditer__block_occup {
        opacity: 0.5;
        z-index: 0;
    }
    ._10,._11, ._12, ._13 {
        display: none;
    }
    .conditer__body {
        background-color:rgba(255, 255, 255, 0.8);
        z-index: 5;
        max-width: none;
        margin-top: -125px;
    }
    .conditer__title {
        text-align: center;
    }
    .main-block__block {
        justify-content: center;
    }
    .conditer__list {
        padding: 140px 0px 0px 0px;
    }
    .conditer__button {
        margin-top:238px;
        margin-bottom: 0px;
    }
    .page__conditer {
        padding-top: 158px;
    }
}
@media(max-width:880px){
    .conditer__image {
        transform: scale(0.7);
        padding-top: 0;
    }
    .conditer__button{
        margin-top: 87px;
    }
    .conditer__image-smoke_bg{
        z-index: 2;
    }
}
@media(max-width:800px){
    .conditer__list {
        padding: 60px 0px 0px 0px;
    }
}
@media(max-width:683px){
    .conditer__image_bg img{
        object-position: center;
    }
    .conditer__image_bgcircle img{
        object-position: right;
    }
}
@media(max-width:490px){
    .conditer__button {
        margin-top: 65px;
    }
    .conditer__block_name {
        margin-top: -162px;
    }
    .conditer__block_occup {
        margin-top: -101px;
    }
}
@media(max-width:484px) {
    .conditer__block_nametext {
        font-size: 19px;
    }
    .conditer__block_occuptext {
        font-size: 16px;
    }
}
@media(max-width:400px) {
    .conditer__block_name {
        right: 7%;
    }
    .conditer__block_occup {
        right: 9%;
    }
}
@media(max-width:313px) {
    .conditer__block_occup {
        margin-top: -272px;
    }
    .conditer__block_name {
        margin-top: -333px;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__feedback {
    height: 1505px;
    background: #081130;
}
.feedback__container{
    display: flex;
    flex-direction: column;
}
.feedback__title_block{
    display: flex;
    justify-content: center;
    padding-top: 300px;
}
.feedback__title {
    font-weight: 500;
    color:#FFFFFF;
}
.feedback__body {
    display: flex;
    align-items:center;
    flex-direction: column;
}
.feedback__block {
    background: #FFFFFF;
    border: 2px solid #E2EAF2;
    box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
    border-radius: 5px;
    display: flex;
    margin-top: 80px;
}
.feedback__item {
    padding: 70px 0px 70px 143px;
    display: flex;
    flex-direction: column;
}
.feedback__item img {
    width: 36px;
    height: 24.47px;
}
.feedback__text {
    font-weight: 500;
    font-size: 30px;
    line-height: 143%;
    margin-top: 24px;
}
.feedback__block_image {
    padding: 70px 143px 70px 54px;
}
.feedback__block_image img {
    border-radius: 50%;
}
.feedback__subtext {
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    margin-top: 24px;
}
a.feedback__readall {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4A94FF;
    border-bottom: 1.5px dashed #4A94FF;
    max-width: 179px;
    margin-top: 24px;
}
p.feedback__photo_name {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    margin-top: 30px;
    text-align: center;
}
p.feedback__photo_city {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #A6AEB6;
    margin-top: 6px;
    text-align: center;
}
.feedback__block_slider {
    display: flex;
    margin-top: 70px;
}
.feedback__block_sliderprev, .feedback__block_slidernext {
    background: #FED84C;
    height: 66px;
    width: 66px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 11.93px;
    margin-right: 11.93px;
    transition: background-color .2s ease;
    cursor: pointer;
}
.feedback__block_sliderprev:hover, .feedback__block_slidernext:hover {
    background: #8f771e;
    transition: opacity .2s ease;
}
.feedback__block_slidernext img{
    transform: rotate(180deg);
}
._14 {
    width: 152px;
    height: 156px;
    transform: rotate(8deg);
    right: 15%;
    margin-top: -780px;
}
._15 {
    width: 126.68px;
    height: 131.96px;
    filter: blur(13.5px);
    transform: rotate(-120deg);
    left: 12%;
    margin-top: -900px;
}
@media(max-width:1182px) {
    .feedback__title_block {
        padding-top: 210px;
    }
} 
@media(max-width:1042px) {
    .feedback__title {
        text-align: center;
    }
}
@media(max-width:1024px) {
    .feedback__item {
        padding: 70px 0px 70px 65px;
    }
    .feedback__block_image {
        padding: 70px 65px 70px 54px;
    }
    .feedback__title_block  {
        padding-top: 186px;
    }
}
@media(max-width:936px) {
    .feedback__block_image img {
        transform: scale(0.8);
    }
}
@media(max-width:893px) {
    ._14 {
        margin-top: -850px;
    }
}
@media (max-width: 877px) {
    ._15 {
        transform: rotate(281deg);
        left: 18%;
        margin-top: -1043px;
    }
    p.feedback__photo_name {
        margin-top: 0;
    }
    .feedback__item  {
        padding: 0px 25px 25px 25px;
    }
}
@media (max-width: 876px) {
    .feedback__block {
        display: flex;
        flex-direction: column-reverse;
    }
    .feedback__block_image {
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
}
@media(max-width:872px) {
    .feedback__title_block {
        padding-top: 148px;
    }
} 
@media (max-width:780px) {
    .feedback__block_slider {
        margin-top: 70px;
    }
}
@media(max-width:731px){
    .main-block__body-title {
        font-size: 39px;
    }
    .feedback__title_block {
        padding-top: 123px;
    }
    .feedback__block{
        margin-top: 31px;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__result {
}
.result {
}
.results__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 11;
    padding-top: 50px;
}
h2.results__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}
h3.results__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    text-align: center;
    margin-top: 14px;
}
.results__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 80px;
}
.results__items img {
    width: 33.3%;
    height: 100%;
    padding: 4.5px;
    object-fit: cover;
}
.result__upimage {
    margin-top:50px;
}
@media(max-width:1612px) {
    .result__upimage {
        margin-top: 59px;
    }
}
@media(max-width:1552px) {
    .result__upimage {
        margin-top: 76px;}
}
@media(max-width:1432px) {
    .result__upimage {
        margin-top: 92px;}
}
@media(max-width:1324px) {
    .result__upimage {
        margin-top: 111px;
    }
}
@media(max-width:1192px) {
    .result__upimage {
        margin-top: 120px;
    }
}
@media(max-width:1182px) {
    .result__upimage {
        margin-top: 0px;
    }
    .page__feedback {
        height: 1301px;}
}
@media(max-width:1174px){
    .page__feedback {
        height: 1297px;
    }
}
@media(max-width:1147px){
    .page__feedback {
        height: 1294px;
    }
}
@media(max-width:1100px){
    .page__feedback {
        height: 1288px;
    }
}
@media(max-width:1092px){
    .page__feedback {
        height: 1315px;
    }
}
@media(max-width:1068px){
    .page__feedback {
        height: 1310px;
    }
}
@media(max-width:1057px) {
    .page__feedback {
        height: 1335px;
    }
}
@media(max-width:1049px) {
    .page__feedback {
        height: 1378px;
    }
}
@media(max-width:1042px) {
    .page__feedback {
        height: 1434px;
    }
}
@media(max-width:1032px){
    .page__feedback {
        height: 1462px;
    }
}
@media(max-width:1025px) {
    .page__feedback {
        height: 1311px;
    }
    .results__items img {
        width: 50%;
    }
    .results__items  {
        margin-top: 25px;
    }
    .results__items img:last-child {
        margin: 0 auto;
    }
}
@media(max-width:998px){
    .page__feedback {
        height: 1309px;
    }
}
@media(max-width:984px){
    .page__feedback {
        height: 1302px;
    }
    h2.results__title {
        font-size: 38px;}
}
@media(max-width:936px){
    .page__feedback {
        height: 1330px;
    }
}
@media(max-width:927px){
    .page__feedback {
        height: 1327px;
    }
}
@media(max-width:907px){
    .page__feedback {
        height: 1324px;
    }
}
@media(max-width:901px){
    .page__feedback {
        height: 1350px;
    }
}
@media(max-width:893px){
    .page__feedback {
        height: 1392px;
    }
}
@media(max-width:885px){
    .page__feedback {
        height: 1389px;
    }
}
@media(max-width:877px){
    .page__feedback {
        height: 1453px;
    }
}
@media(max-width:873px){
    .page__feedback {
        height: 1415px;
    }
}
@media(max-width:865px){
    .page__feedback {
        height: 1411px;
    }
}
@media(max-width:837px){
    .page__feedback {
        height: 1407px;
    }
}
@media(max-width:812px){
    .page__feedback {
        height: 1402px;
    }
    h2.results__title {
        font-size: 34px;
    }
}
@media(max-width:789px){
    .page__feedback {
        height: 1428px;
    }
}
@media(max-width:781px){
    .page__feedback {
        height: 1453px;
    }
}
@media(max-width:780px) {
    .result__upimage {
        margin-top: 27px;
    }
}
@media(max-width:764px){
    .page__feedback {
        height: 1450px;
    }
}
@media(max-width:746px){
    .page__feedback {
        height: 1446px;
    }
}
@media(max-width:731px){
    .page__feedback {
        height: 1371px;
    }
    h2.results__title {
        font-size: 31px;
    }
    h3.results__subtitle {
        font-size: 20px;
    }
    .results__body{
        padding-top: 0px;
    }
}
@media(max-width:711px){
    .page__feedback {
        height: 1366px;
    }
}
@media(max-width:678px){
    .page__feedback {
        height: 1389px;
    }
}
@media(max-width:660px){
    .page__feedback {
        height: 1386px;
    }
}
@media(max-width:640px){
    .page__feedback {
        height: 1383px;
    }
}
@media(max-width:620px){
    .page__feedback {
        height: 1379px;
    }
    h2.results__title {
        font-size: 26px;
    }
}
@media(max-width:594px){
    .page__feedback {
        height: 1376px;
    }
}
@media(max-width:585px) {
    .results__items img {
        width: 100%;
    }
}
@media(max-width:573px){
    .page__feedback {
        height: 1373px;
    }
}
@media(max-width:566px){
    .page__feedback {
        height: 1399px;
    }
}
@media(max-width:556px){
    .page__feedback {
        height: 1396px;
    }
}
@media(max-width:537px){
    .page__feedback {
        height: 1394px;
    }
    h2.results__title {
        font-size: 23px;
    }
    h3.results__subtitle {
        font-size: 17px;
    }
}
@media(max-width:526px){
    .page__feedback {
        height: 1433px;
    }
}
@media(max-width:513px){
    .page__feedback {
        height: 1460px;
    }
}
@media(max-width:505px){
    .page__feedback {
        height: 1459px;
    }
}
@media(max-width:500px){
    .page__feedback {
        height: 1455px;
    }
}
@media(max-width:473px){
    .page__feedback {
        height: 1452px;
    }
    h2.results__title {
        line-height: 34px;
    }
}
@media(max-width:461px){
    .page__feedback {
        height: 1509px;
    }
}
@media(max-width:460px){
    .page__feedback {
        height: 1536px;
    }
}
@media(max-width:442px){
    .page__feedback {
        height: 1533px;
    }
}
@media(max-width:421px){
    .page__feedback {
        height: 1556px;
    }
}
@media(max-width:412px){
    .page__feedback {
        height: 1616px;
    }
}
@media(max-width:404px){
    .page__feedback {
        height: 1612px;
    }
}
@media(max-width:378px){
    .page__feedback {
        height: 1610px;
    }
}
@media(max-width:365px){
    .page__feedback {
        height: 1607px;
    }
}
@media(max-width:344px){
    .page__feedback {
        height: 1605px;
    }
}
@media(max-width:330px){
    .page__feedback {
        height: 1603px;
    }
}
@media(max-width:317px){
    .page__feedback {
        height: 1600px;
    }
}
@media(max-width:297px){
    .page__feedback {
        height: 1597px;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__contacts {
    padding-top: 230px;
    background:#081130;
    padding-bottom: 80px;
}
.contacts__container {
}
.contacts__body {
}
.contacts__block {
    display: flex;
    padding: 70px 100px;
    background: #FFFFFF;
    border-radius: 8px; 
    flex-direction: column;
    margin-top: 100px;
}
p.contacts__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    text-align: center;
}
p.contacts__subtitle {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    text-align: center;
    letter-spacing: -0.2px;
    margin-top: 12px;
}
.contacts__items {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}
input#search {
    background-image:url(../img/contacts/phone.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
    transition:0.3s;
    background-size: inherit;
    background-position: 7% 50%;
}
input[type=tel] {
    background: #F2F6FA;
    border-radius: 8px;
    padding: 30px 190px 30px 58px;
    margin-right: 10px;
}
input#search:focus {
    text-indent:0px;
}
::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #7E868E;
}
.contacts__button {
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    background: #FED84C;
    border-radius: 8px;
    padding: 29px 127.5px;
    cursor:pointer;
    transition: background-color .2s ease;

}
.contacts__button:hover {
    background: #2E363E;
    color: #FED84C;
    transition: opacity .2s ease;
}
.contacts__checkbox {
    display: flex;
    align-items:center;
    text-align: center;
    margin-top: 26px;
    justify-content: center;
}
.checkbox__label {
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: #7E868E;
}
._16 {
    width: 152.18px;
    height: 155.97px;
    transform: rotate(178deg);
    margin-top: -474px;
    right: 16%;
}
._17 {
    width: 106.67px;
    height: 111.52px;
    margin-top: -474px;
    left: 17%;
    transform: rotate(266deg);
}
._18 {
    width: 167.13px;
    height: 171.29px;
    left: 15%;
    transform: rotate(352deg);
    margin-top: -77px;
}
._19 {
    width: 146.55px;
    height: 153.21px;
    transform: rotate(261deg);
    margin-top: -61px;
    right: 15%;
}
@media(max-width:1370px){
    .contacts__block{
        margin-top: 0;
    }
}
@media(max-width:1091px) {
    ._17 {
        margin-top: -572px;
    }
    ._16 {
        margin-top: -572px;
    }
}
@media(max-width:1056px){
    .contacts__block {
        margin-top: -48px;
    }
}
@media(max-width:1036px) {
    .contacts__button {
        padding: 29px 32.5px;
    }
}
@media(max-width:846px) {
    input[type=tel] {
        padding: 30px 108px 30px 58px;
    }
}
@media(max-width:765px) {
    .contacts__items {
        flex-direction: column;
    }
    .contacts__button {
        margin-top: 10px;
        margin-left: 0;
    }
    input[type=tel] {
        margin-right: 0;
    }
    ._17 {
        display: none;
    }
    ._16 {
        display: none;
    }
    ._18 {
        display: none;
    }
    ._19 {
        display: none;
    }
}
@media(max-width:755px){
    .contacts__block {
        margin-top: -112px;
    }
}
@media(max-width:664px) {
    .contacts__block {
        padding: 50px 50px;
    }
}
@media(max-width:564px){
    .contacts__block {
        padding: 50px 20px;
    }
}
@media(max-width:504px) {
    p.contacts__title {
        font-size: 32px;
    }
    p.contacts__subtitle {
        font-size: 18px;
    }
    .page__contacts{
        padding-bottom: 64px;
    }
}
@media(max-width: 456px){
    .contacts__block {
        padding: 50px 10px;
        margin-top: -148px;    
    }
    p.contacts__title {
            font-size: 27px;
        }
    p.contacts__subtitle {
            font-size: 16px;
        }
}
@media(max-width:380px) {
    input[type=tel] {
        padding: 30px 0px 30px 58px;
    }
}
@media(max-width:364px){
    .page__contacts {
        padding-bottom: 51px;
    }
}
@media(max-width:353px){
    .contacts__block {
        margin-top: -168px;
    }
}
/* ---------------------------------------------------------------------------------------- */
footer {
    background:#081130;
    padding-bottom: 80px;
}
.footer__container {
    display: flex;
}
.footer__body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer__block {
    display: flex;
    justify-content: center;
}
.footer__info {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #7E868E;
    background:#081130;
    cursor: pointer;
    margin-left: 21.5px;
    margin-right: 21.5px;
}
.footer__item {
    text-align: center;
    margin-top: 22px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #7E868E;
}
@media(max-width:508px) {
    footer {
    padding-bottom: 60px;
    }
}
@media(max-width:344px) {
    .footer__info {
    margin-left: 14.5px;
    margin-right: 14.5px;}
}
@media(max-width:310px){
    .footer__info {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
}
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */